/*CSS reset*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans', sans-serif;

}

body{
	/*background-color: skyblue;*/
	background-image: url("../image/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	background-position: center;	
}

/*targets the element with the class name container*/
.container{
	width: 600px;
	margin:0 auto;/*centers the element horizontally*/
	text-align: center;

}

/* targets the html h1 */

h1{
color: yellow; /*this changes the font color of the h1 element*/
background-color: rgba(51,51,51, 0.5); /*off black*/
text-transform: uppercase;
font-size: 30px;
letter-spacing: 3px;
border-radius: 10px;
border-color: #C0C0C0;
border-width: 3px;
border-style: solid;
margin-left: 50px;
margin-right: 50px;
margin-bottom: 15px;
font-family: 'Noto Sans', sans-serif;

}

/* end of h1 styling */

/*start of h2 styling*/

h2{
	color: yellow;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 5px;
	background-color: rgba(51,51,51, 0.5);
	margin-bottom: 15px;
	padding: 10px;
	border-radius: 10px;
	border-color: #C0C0C0;
	border-width: 3px;
	border-style: solid;
	margin-left: 50px;
	margin-right: 50px;
	font-family: 'Roboto Slab', serif;

}

/*end of h2 styling*/


/*targets the html element with the class attribute bio*/
.bio{
	color: black;
	font-size: 14px;
	line-height: 22px;
	border-radius: 10px;
	border-color: #C0C0C0;
	border-width: 3px;
	border-style: solid;
	background-color: rgba(51,51,51, 0.4);
	margin-left: 50px;
	margin-right: 50px;

}
/*end of bio*/

/*targets the html attribute id with a value me*/
#me{

	height: 300px;
	width: 300px;
	border-radius: 50%;
	border-width: 5px;
	border-color: #800905;
	border-style: solid;
	margin-top: 50px;
	margin-bottom: 50px;

}